* {
  margin: 0;
  padding: 0;
}
img {
  margin: 20px;
}

body {
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
  padding: 20px;
  width: 40%;
  margin: auto;
}

img {
  height: 200px;
  width: 200px;
}

.contactspage {
  width: 30%;
  margin: auto;
  padding: 50px;
  text-align: center;
}

#Contact {
  margin: auto;
  width: 30%;
}

nav {
  /* margin-top: 10px; */
}

nav ol {
  list-style: none;
  text-align: center;
}

nav ol {
  display: inline;

  list-style: none;
}
nav ol a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
}
.profile {
  width: 50%;
  margin: auto;
  display: flex;
}
.profileText {
  margin: 30px;
}

#Portfolio {
  width: auto;
  text-align: center;
}

section {
  background-color: white;
}

.projects {
  display: flex;
}

.projects {
  margin: 30px;
  padding: 20px;
  border: 1px saddlebrown;
  border-radius: 5px;
}

.projects {
  height: 200px;
  width: 200px;
}

#Footer {
  width: auto;
  text-align: center;
  background-color: aqua;
}
